<!-- navbar.component.html -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<nav
  class="navbar navbar-expand-lg bg-danger fw-bold p-3 bg-danger fixed-top px-4"
>
  <a class="navbar-brand" routerLink="/home">MO</a>
  <button
    class="navbar-toggler nav-item dropdown me-4"
    type="button"
    data-toggle="dropdown"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <a
      class="nav-link"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"> </span>
    </a>
    <ul class="dropdown-menu me-5 menu-width">
      <li class="">
        <a class="dropdown-item" routerLink="/home">Home</a>
      </li>
      <li class="">
        <a class="dropdown-item" *ngIf="isLogin" routerLink="/about">About</a>
      </li>
      <li class="">
        <a
          class="dropdown-item dropdown-item"
          *ngIf="isLogin"
          routerLink="/gallery"
          >Gallery</a
        >
      </li>
      <li class="">
        <a class="dropdown-item" *ngIf="isLogin" routerLink="/movies">Movies</a>
      </li>
      <li class="">
        <a class="dropdown-item" *ngIf="isLogin" routerLink="/tv">TV</a>
      </li>
      <li class="">
        <a class="dropdown-item" *ngIf="isLogin" routerLink="/contact"
          >Contacts</a
        >
      </li>
    </ul>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/movies">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/tv">TV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogin" routerLink="/contact">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="d-flex">
    <ul
      class="list-unstyled d-flex justify-content-around align-items-center m-0"
    >
      <li class="mx-2 nav-item">
        <a *ngIf="!isLogin" routerLink="/login">login</a>
      </li>

      <li *ngIf="!isLogin" class="mx-2 px-2">
        <a routerLink="/register">register</a>
      </li>
      <li class="nav-item dropdown px-2" *ngIf="isLogin">
        <a
          class="nav-link dropdown-toggle"
          routerLink="/settings"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Settings
        </a>
        <ul class="dropdown-menu nav-item">
          <li>
            <a class="dropdown-item" routerLink="settings/profile">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="settings/password">Password</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item disabled" routerLink="settings/log">Log</a>
          </li>
        </ul>
      </li>
      <li class="mx-2 px-2 nav-item">
        <a *ngIf="isLogin" (click)="callLogOut()" routerLink="/logout"
          >logout</a
        >
      </li>
    </ul>
  </div>
</nav>
