<p>tv works!</p>
<div class="row bg-gradient  pb-4 my-5 ">
 
    <div class="col-md-12 pt-5 pb-0 my-3">
        <div class="content my-3">
          <div class="zero w-25 bg-danger my-3"></div>
          <h2 class="fw-bolder  ">Triending <span class="text-warning">TV</span>  <br />to watch right now</h2>
          <p class="text-muted">Triending <span class="text-warning">TV</span> <br />to watch right now</p>
          <div class="one w-100 bg-danger  my-3"></div>
        </div>

    </div>
    <div class="col-md-4" *ngFor="let tv of tvCartona">
        <a [routerLink]="['/moviedetails',tv.id]"> 
            <div class="tv my-2 position-relative">
            <img [src]="imgBegin + tv.poster_path" alt="not founded" class="w-100 py-2 px-1"/>
            <h3 class="h6 fw-bold">{{ tv.title }}</h3>
            <p class="text-warning p-0 m-0">release date : {{tv.release_date}}</p>
            <p class="text-warning p-0 m-0">vote average : {{tv.vote_average}}</p>
            <div
              class="vote position-absolute mx-1 my-2 top-0 end-0 bg-light text-danger rounded-start p-1"
            >
              <h6 class="fw-bolder mt-1">{{ tv.vote_average }}</h6>
            </div>
          </div></a>
    </div>
</div>



